<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tambah Diary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Tambah Diary </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">Tanggal</ion-label>
      <ion-input
        required
        [(ngModel)]="tanggal"
        placeholder="Tanggal"
        type="date"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Isi Diary</ion-label>
      <ion-input
        required
        [(ngModel)]="isi"
        placeholder="Isi Diary"
        type="textfield"
      >
      </ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button
          type="button"
          (click)="addData()"
          color="primary"
          shape="full"
          expand="block"
          >Tambah Diary
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
