<!DOCTYPE html>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Diary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Diary </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full">
    <ion-button
      type="button"
      [routerLink]="['/data-tambah']"
      routerLinkActive="router-link-active"
      color="success"
      expand="block"
    >
      Tambah Diary</ion-button
    >
  </ion-list>
  <ion-list>
    <ion-list-header>List Data Diary</ion-list-header>
  </ion-list>
  <ion-card lines="inset" *ngFor="let data_value of data">
    <ion-item>
      <ion-label>{{ data_value.tanggal }}</ion-label>
      <ion-button
        color="primary"
        slot="end"
        [routerLink]="['/data-lihat/',data_value.no]"
        routerLinkActive="router-link-active"
        >View</ion-button
      >
      <ion-button
        color="primary"
        slot="end"
        [routerLink]="['/data-edit/',data_value.no]"
        routerLinkActive="router-link-active"
        >Edit</ion-button
      >
      <ion-button color="danger" slot="end" (click)="deleteData(data_value.no)"
        >Hapus</ion-button
      >
    </ion-item>
  </ion-card>
  <ion-item (click)="logout()">
    <ion-icon slot="start" ios="exit-outline" md="exit-sharp"></ion-icon>
    <ion-label>Logout</ion-label>
  </ion-item>
</ion-content>
